@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Raleway:wght@100..900&family=Sora:wght@100..800&family=Staatliches&display=swap');

:root {
  ---fuente-principal:'Sora','sans-serif';
  ---fuente-headdings:'Raleway', 'sans-serif';
  ---fuente-secundary:'IBM Plex Mono', monospace;

  ---color-primario: #007dab;
  ---color-secundario: #4edfff;
  ---color-gris-claro:rgb(172, 172, 172);
  ---color-gris-oscuro:rgb(20, 20, 20);
  ---color-blank: #ffff;
  ---color-black: #0000;
  background-color: #1a1a1a;
}

p{
  font-family: var(---fuente-secundary);
  color: var(---color-gris-claro);
}
a {
  font-weight: 500;
  color: var(---color-primario);
  text-decoration: inherit;
  font-family: var(---fuente-headdings);
}
a:hover {
  color: var(---color-secundario);
}

button{
  padding: 0.6rem;
  border-radius: 2rem;
  font-family: var(---fuente-headdings);
  background-color: var(---color-primario);
  color: var(---color-blank);
  margin-top: 1rem;
  border: none;
  width: 200px;

}


body {
  margin: 0;
  display: flex;
  padding: 0;
  min-height: 100vh;
  justify-content: center;
  background-color: #000000;
  align-items: flex-start;
}

header {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* baja un poco el logo */
}

h1,h2,h3,h4{
    font-family: var(---fuente-headdings);
    margin: 0;
    padding: 0 0 2rem 0 ;
    color: var(---color-gris-claro);
}

h1 {
  font-size: 6rem;
}

h2 { 
  font-size: 4.8em;
}

h3 { 
  font-size: 3.6rem;
}

h4 { 
  font-size: 2.4em;
}

button {
  transition: all 0.15s ease-in-out;
}

button:active {
  transform: scale(0.95);
  box-shadow: 0 0 10px var(--color-secundario);
}


.login-container{
  display:flex;
  flex-direction: column;
  width: 300px;
  background-color: var(---color-gris-oscuro);
  padding: 2rem;
  border-radius: 1rem;
  align-items: center;
  text-align: center;
  margin:0;
  justify-content: center;
}

.login-container .register-link{
  padding: 2rem 0 0 0;
  font-size: 15px;
}

.login-container input{
  display: block;
  align-items: center;
  padding: 0.5rem;
  border-radius: 2rem;
  text-align: center;
  margin: 1rem;
  width: 200px;
  background-color: transparent;
  border-color: var(---color-blank);
  color: var(---color-gris-claro);
  
}

.login-container input:focus {
  border-color: var(---color-secundario); 
  box-shadow: 0 0 50px var(---color-secundario); 
  color: var(---color-gris-claro);
  background-color: transparent !important;

}

.login-container button{
  padding: 0.6rem;
  border-radius: 2rem;
  font-family: var(---fuente-headdings);
  background-color: var(---color-primario);
  color: var(---color-blank);
  margin-top: 1rem;
  border: none;
  width: 200px;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}

.logo-animado {
  width: 300px; /* ajústalo a tu tamaño */
  height: auto;
  pointer-events: none;   /* evita que sea clickeable */   /* si quieres bordes suaves */
  object-fit: contain;    /* se adapta bien al espacio */
  margin-bottom: 30px;
}

.btn-access{
  display: flex;
  width: 300px;
}
.btn-access button{
  margin-right: 1rem;
  margin-left: 1rem;
}

.step2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*REGISTER VIDEO*/
.container-RF {
  position: relative;
  width: 400px; /* ajusta según tu video */
  height: 300px; /* ajusta según tu video */
  margin: auto;
  display: flex;
  
}

.video-RF {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  object-fit: cover;
}

.scan-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid var(---color-secundario);
  border-radius: 1rem;
  overflow: hidden;
  pointer-events: none;
}

.scan-line {
  width: 100%;
  height: 4px;
  background: var(---color-secundario);
  position: absolute;
  top: -4px;
  animation: scan 2s linear infinite;
}

@keyframes scan {
  0% { top: -4px; }
  50% { top: 100%; }
  100% { top: -4px; }
}
